<html>
<head>
  <title>To-Do List</title>
</head>
<body>
  <h1>To-Do List</h1>
  <ul>
    <% tasks.forEach(task => { %>
      <li><%= task %></li>
    <% }); %>
  </ul>
  <a href="/new">Add New Task</a>
</body>
</html>
